body{
	background: black;
	color:white;
	margin:0;
	text-decoration: none;
}

.topNavBar .logo{
	font-family:"arial black";
	text-decoration: none;
	font-size:24px;
	font-weight: bold;
	float: left;
}
.topNavBar .rs{
	color:#e6686a;
	margin-right: 4px;

}
.topNavBar .card{
	color:#9a9da2;
}

.topNavBar nav ul li{
	float: left;	
	list-style: none;
	margin-left:17px;
	margin-right:17px;
}

.topNavBar nav{
	float: right;

}
.topNavBar nav ul li a{
	border-bottom: 3px solid transparent;
	color:#b7b7b7;
	padding-top:7px;
	padding-bottom: 7px;
	font-size:12px;
	font-weight: bold;
	text-decoration: none;
	display:block;

}
.topNavBar nav ul li a:hover{
	border-bottom: 3px solid #e06567;
}
.topNavBar nav ul{
	margin:0px;
}
.topNavBar{
	clear: both;
	padding:20px 16px;
}

.clearfix::after{
	content: '';
	display: block;
	clear:both;
}
